@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
#nprogress .bar {
  background: #f16179;
}

#nprogress .spinner-icon {
  border-top-color: #f16179;
  border-left-color: #f16179;
}






